.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(231, 229, 229);
}

.list__item--hidden {
    display: none;
}

.list__task--done {
    text-decoration: line-through;
}

.list__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
}

.list__button--check {
    background: #0a8127;
    transition: 0.5s;
}

.list__button--check:hover {
    background: hsl(135, 86%, 32%);
}

.list__button--check:active {
    background: hsl(135, 86%, 38%);
}

.list__button--delete {
    background: #e12424;
    transition: 0.5s;
}

.list__button--delete:hover {
    background: hwb(0 14% 18%);
}

.list__button--delete:active {
    background: hwb(0 14% 25%);
}